importFrom(data.table, data.table, fread, rbindlist, set, setindexv, setkeyv, uniqueN, "%chin%")
importFrom(data.table, `:=`, .BY, .N, .SD)
importFrom(data.table, fifelse)

importFrom(utils, getParseData, globalVariables, tail, type.convert)

export(translate_package)
