importFrom(data.table, data.table, foverlaps, fread, rbindlist, uniqueN, "%chin%")
importFrom(data.table, is.data.table, as.data.table)
importFrom(data.table, set, setattr, setcolorder, setDT, setindexv, setkeyv, setnames, setorderv)
importFrom(data.table, `:=`, .BY, .N, .SD)
importFrom(data.table, fcase, fifelse, shift, tstrsplit)

importFrom(stats, setNames)
importFrom(utils, getParseData, globalVariables, head, tail, type.convert)

export(translate_package)
export(get_message_data)

export(check_cracked_messages, check_untranslated_cat, check_untranslated_src)

S3method(format, specials_metadata)
S3method(all.equal, specials_metadata)
