importFrom(data.table, data.table, foverlaps, fread, rbindlist, uniqueN, chmatch, "%chin%")
importFrom(data.table, is.data.table, as.data.table)
importFrom(data.table, copy, set, setattr, setcolorder, setDT, setindexv, setkeyv, setnafill, setnames, setorderv)
importFrom(data.table, `:=`, .BY, .N, .SD)
importFrom(data.table, fcase, fifelse, shift, tstrsplit)

importFrom(stats, setNames)
importFrom(utils, getParseData, globalVariables, head, tail, type.convert)

export(translate_package)
export(get_message_data)
export(write_po_file, po_metadata)

export(check_cracked_messages, check_untranslated_cat, check_untranslated_src)

export(check_potools_sys_reqs)

S3method(format, specials_metadata)
S3method(all.equal, specials_metadata)

S3method(format, po_metadata)
S3method(print, po_metadata)
